<h1>Books</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
    </tr>
  </thead>
</table>
<tbody>
  <tr>
    <tb>リーダブルコード</tb>
    <tb>より良いコードを書くためのシンプルで実践的なテクニック</tb>
    <span>
      <%= link_to book.title, "/books/#{book.id}" %>
    </span>
    <tb>
      <a class="edit_129666" href="/books/129666/edit">Edit</a>
    </tb>
    <tb>
      <a data-confirm="Are you sure?" class="destroy_129666" rel="nofollow" data-method="delete" href="/books/129666">Destroy</a>
    </tb>
  </tr>
  <tr>
    <tb>たのしいRuby</tb>
    <tb>Rubyの入門におすすめです</tb>
    <span>
      <%= link_to book.title, "/books/#{book.id}" %>
    </span>
    <tb>
      <a class="edit_129668" href="/books/129668/edit">Edit</a>
    </tb>
    <tb>
      <a data-confirm="Are you sure?" class="destroy_129668" rel="nofollow" data-method="delete" href="/books/129668">Destroy</a>
    </tb>
  </tr>
  <tr>
    <tb>入門Git</tb>
    <tb>gitについての気品操作から内部構造まで解説してくれます</tb>
    <span>
      <%= link_to book.title, "/books/#{book.id}" %>
    </span>
    <tb>
      <a class="edit_129669" href="/books/129669/edit">Edit</a>
    </tb>
    <tb>
      <a data-confirm="Are you sure?" class="destroy_129669" rel="nofollow" data-method="delete" href="/books/129669">Destroy</a>
    </tb>
  </tr>
  <tr>
    <tb>アルゴリズム図鑑</tb>
    <tb>アルゴリズムについてカラーイラストでしっかり解説してくれます</tb>
    <span>
      <%= link_to book.title, "/books/#{book.id}" %>
    </span>
    <tb>
      <a class="edit_129670" href="/books/129670/edit">Edit</a>
    </tb>
    <tb>
      <a data-confirm="Are you sure?" class="destroy_129670" rel="nofollow" data-method="delete" href="/books/129670">Destroy</a>
    </tb>
  </tr>
  <tr>
    <tb>達人プログラマー</tb>
    <tb>プログラマー入門者は必読！</tb>
    <span>
      <%= link_to book.title, "/books/#{book.id}" %>
    </span>
    <tb>
      <a class="edit_129671" href="/books/129671/edit">Edit</a>
    </tb>
    <tb>
      <a data-confirm="Are you sure?" class="destroy_129671" rel="nofollow" data-method="delete" href="/books/129671">Destroy</a>
    </tb>
  </tr>
  <tr>
    <tb>データベース実践入門</tb>
    <tb>効率的なSQL文を教えてくれます</tb>
    <span>
      <%= link_to book.title, "/books/#{book.id}" %>
    </span>
    <tb>
      <a class="edit_129672" href="/books/129672/edit">Edit</a>
    </tb>
    <tb>
      <a data-confirm="Are you sure?" class="destroy_129672" rel="nofollow" data-method="delete" href="/books/129672">Destroy</a>
    </tb>
  </tr>
  <tr>
    <tb>ac</tb>
    <tb>ac</tb>
    <span>
      <%= link_to book.title, "/books/#{book.id}" %>
    </span>
    <tb>
      <a class="edit_129673" href="/books/129673/edit">Edit</a>
    </tb>
    <tb>
      <a data-confirm="Are you sure?" class="destroy_129673" rel="nofollow" data-method="delete" href="/books/129673">Destroy</a>
    </tb>
  </tr>
  <tr>
    <tb>あ</tb>
    <tb>ii</tb>
    <span>
      <%= link_to book.title, "/books/#{book.id}" %>
    </span>
    <tb>
      <a class="edit_129674" href="/books/129674/edit">Edit</a>
    </tb>
    <tb>
      <a data-confirm="Are you sure?" class="destroy_129674" rel="nofollow" data-method="delete" href="/books/129674">Destroy</a>
    </tb>
  </tr>
  <tr>
    <tb>あ</tb>
    <tb>ii</tb>
    <span>
      <%= link_to book.title, "/books/#{book.id}" %>
    </span>
    <tb>
      <a class="edit_129675" href="/books/129675/edit">Edit</a>
    </tb>
    <tb>
      <a data-confirm="Are you sure?" class="destroy_129675" rel="nofollow" data-method="delete" href="/books/129675">Destroy</a>
    </tb>
  </tr>
  <tr>
    <tb>トラブル知らずのシステム設計</tb>
    <tb>システム設計の要点を図解で説明してくれますaaa</tb>
    <span>
      <%= link_to book.title, "/books/#{book.id}" %>
    </span>
    <tb>
      <a class="edit_129667" href="/books/129667/edit">Edit</a>
    </tb>
    <tb>
      <a data-confirm="Are you sure?" class="destroy_129667" rel="nofollow" data-method="delete" href="/books/129667">Destroy</a>
    </tb>
  </tr>
  <tr>
    <tb>1234</tb>
    <tb>5678</tb>
    <span>
      <%= link_to book.title, "/books/#{book.id}" %>
    </span>
    <tb>
      <a class="edit_129677" href="/books/129677/edit">Edit</a>
    </tb>
    <tb>
      <a data-confirm="Are you sure?" class="destroy_129677" rel="nofollow" data-method="delete" href="/books/129677">Destroy</a>
    </tb>
  </tr>
  <tr>
    <tb>test</tb>
    <tb>test</tb>
    <span>
      <%= link_to book.title, "/books/#{book.id}" %>
    </span>
    <tb>
      <a class="edit_129678" href="/books/129678/edit">Edit</a>
    </tb>
    <tb>
      <a data-confirm="Are you sure?" class="destroy_129678" rel="nofollow" data-method="delete" href="/books/129678">Destroy</a>
    </tb>
  </tr>
</tbody>


<h1>New book</h1>

<%= form_with model: Book.new do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>

  <h4>Body</h4>
  <%= f.text_area :body %>

  <%= f.submit 'Create Book' %>
<% end %>