<%= flash[:notice] %>
<p>
    <storong>Title:<%= @book.title %></storong>
</p>
<p>
    <storong>Body:<%= @book.body %></storong>
</p>
    <%= link_to "Edit",edit_book_path(@book.id)%>
     |
    <%= link_to "Back",books_path %>